<html>
<meta charset="UTF-8">
<head>
  <title>catlog - Counting for Cats</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="{{ url_for('static',filename='styles/catlog.css') }}" rel="stylesheet">
</head>
<body>
  <div id="wrap">
  <div class="page-header" id="catlog-page-header">
    <a href="#">
          <img id="main-navbar-logo" src="{{ url_for('static',filename='images/logo.png') }}"></a>
          catlog
        </a>
    </div> <!-- page-header -->

  <div>
    <div id="search-bar">
      <div id="search-buttons-div">
        <button id="search-button-clear" type="button" class="btn btn-s btn-success search-button">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>

        <button id="search-button-plus" type="button" class="btn btn-s btn-success search-button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button id="search-button-minus" type="button" class="btn btn-s btn-danger search-button">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <a id="search-button-settings" type="button" href="" download="untitled.csv" class="btn btn-s btn-info search-button">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;download
        </a>
      </div>

      <div id="search-text-div">
        <input id="search-text-input" type="text" placeholder="type something here, then press enter or '+'..."></input>
      </div>
    </div>

    <div id="settings-area">
      <span class="settings-pre-text">Rows have</span>
      <label class="checkbox-inline"><input id="settings-checkbox-count" type="checkbox" value="" checked>count</label>
      <label class="checkbox-inline"><input id="settings-checkbox-description" type="checkbox" value="">description</label>
      <span class="settings-pre-text">.</span>
    </div>


    <div id="catlog-area">
      <table class="table" id="catlog-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
    </div>
  </div><!-- /.container -->
  <div id="push"></div>
</div> <!-- wrap -->

  <div id="footer">
    <div class="container">
      <div class="row advert-div">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="advert2.png" /></div>
        <div class="span4"></div>
      </div>
      <div class="row">
        <div class="span4"></div>
        <div class="span4 text-center">
          <a href="mailto:mikemckay2205@gmail.com">get in touch&nbsp;
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
             | &copy; Michael McKay</div>
        <div class="span4"></div>
      </div>
    </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.0.js"
  integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='js/bootstrap-number-input.js') }}" ></script>
  <script src="{{ url_for('static',filename='js/catlog.js') }}"></script>
</body>
</html>
